In [1]:
import numpy as np
import pandas as pd

In [3]:
string_data = pd.Series(['123', '456', np.NAN, '777'])
string_data.info()

<class 'pandas.core.series.Series'>
RangeIndex: 4 entries, 0 to 3
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      object
dtypes: object(1)
memory usage: 160.0+ bytes

In [4]:
string_data.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [6]:
string_data[string_data.notnull()]

0    123
1    456
3    777
dtype: object

In [8]:
string_data.dropna(inplace=True)
string_data

0    123
1    456
3    777
dtype: object

In [26]:
data = pd.DataFrame(np.array([1, 2, np.NAN, 2, 9, np.NAN, 4, 3, 9, np.NAN, 2, np.NAN]).reshape(3, 4)
                    , index=['01', '02', '03']
                    , columns=['a', 'b', 'c', 'd'])
data

      a    b    c    d
01  1.0  2.0  NaN  2.0
02  9.0  NaN  4.0  3.0
03  9.0  NaN  2.0  NaN

In [31]:
data.fillna(value=0)

      a    b    c    d
01  1.0  2.0  0.0  2.0
02  9.0  0.0  4.0  3.0
03  9.0  0.0  2.0  0.0

In [36]:
def check1(v:float)->float:
    return max(0, v)
def check2(v:float)->float:
    if np.isnan(v):
        return 0
    return max(0, v)

In [37]:
data.map(check2)

      a    b    c    d
01  1.0  2.0  0.0  2.0
02  9.0  0.0  4.0  3.0
03  9.0  0.0  2.0  0.0