In [1]:
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame(np.random.randn(4, 3)
             , columns=['a', 'b', 'c']
             , index=['台北', '台中', '台南', '高雄'])
df

           a         b         c
台北  0.200327  1.249687  0.256351
台中  1.840654  0.474473 -0.573649
台南 -1.418742  0.431233  0.201796
高雄  0.941526 -0.360557 -1.037842

In [8]:
np.abs(df)

           a         b         c
台北  0.200327  1.249687  0.256351
台中  1.840654  0.474473  0.573649
台南  1.418742  0.431233  0.201796
高雄  0.941526  0.360557  1.037842

In [9]:
df.abs()

           a         b         c
台北  0.200327  1.249687  0.256351
台中  1.840654  0.474473  0.573649
台南  1.418742  0.431233  0.201796
高雄  0.941526  0.360557  1.037842

In [10]:
for i in df.loc["台北"]:
    print(i)

0.20032656293299614
1.2496868343023524
0.2563511567817028

In [11]:
for i in df:
    print(i)

a
b
c

In [20]:
display(df.loc["台北"])
display(df.loc["台北"].sum())
display(df.loc["台北"].max())
display(df.loc["台北"].min())
display(df.loc["台北"].median())
display(df.loc["台北"].mode())
display(df.loc["台北"].std())

a    0.200327
b    1.249687
c    0.256351
Name: 台北, dtype: float64

1.7063645540170513

1.2496868343023524

0.20032656293299614

0.2563511567817028

0    0.200327
1    0.256351
2    1.249687
Name: 台北, dtype: float64

0.5903405094349771

In [19]:
df.loc['台北'].sum()
df.loc['台中'].sum()
df.loc['台南'].sum()
df.loc['高雄'].sum()
df['b'].sum()
df['c'].sum()
df['a'].sum()

1.5637639502808434

In [18]:
display(df)
display(df.sum())
display(df.sum(axis=1))

           a         b         c
台北  0.200327  1.249687  0.256351
台中  1.840654  0.474473 -0.573649
台南 -1.418742  0.431233  0.201796
高雄  0.941526 -0.360557 -1.037842

a    1.563764
b    1.794835
c   -1.153344
dtype: float64

台北    1.706365
台中    1.741478
台南   -0.785714
高雄   -0.456874
dtype: float64

In [25]:
def func_a(series:pd.Series)->None:
    display(series)

In [23]:
df.apply(func_a, axis=0)

台北    0.200327
台中    1.840654
台南   -1.418742
高雄    0.941526
Name: a, dtype: float64

台北    1.249687
台中    0.474473
台南    0.431233
高雄   -0.360557
Name: b, dtype: float64

台北    0.256351
台中   -0.573649
台南    0.201796
高雄   -1.037842
Name: c, dtype: float64

a    None
b    None
c    None
dtype: object

In [24]:
df.apply(func_a, axis=1)

a    0.200327
b    1.249687
c    0.256351
Name: 台北, dtype: float64

a    1.840654
b    0.474473
c   -0.573649
Name: 台中, dtype: float64

a   -1.418742
b    0.431233
c    0.201796
Name: 台南, dtype: float64

a    0.941526
b   -0.360557
c   -1.037842
Name: 高雄, dtype: float64

台北    None
台中    None
台南    None
高雄    None
dtype: object

In [29]:
def func_b(series:pd.Series)->float:
    return (series.max()-series.min())
def func_c(series:pd.Series)->float:
    return (series.std())

In [30]:
df.apply(func_b, axis=1)

台北    1.049360
台中    2.414303
台南    1.849975
高雄    1.979368
dtype: float64

In [31]:
df.apply(func_b, axis=0)

a    3.259397
b    1.610243
c    1.294194
dtype: float64