In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.327378 -0.375959
1    a  two -0.609812  2.023905
2    b  one  0.110865 -1.179496
3    b  two  1.911914 -2.385781
4    a  one  0.487801 -0.273645

In [12]:
df['data1'].groupby(by=df['key1']).sum()

key1
a   -0.449389
b    2.022780
Name: data1, dtype: float64

In [13]:
df['data1'].groupby([df['key1'],df['key2']]).sum()

key1  key2
a     one     0.160423
      two    -0.609812
b     one     0.110865
      two     1.911914
Name: data1, dtype: float64

In [10]:
df['data1'].groupby([df['key1'],df['key2']]).mean()

key1  key2
a     one     0.080212
      two    -0.609812
b     one     0.110865
      two     1.911914
Name: data1, dtype: float64

In [9]:
df['data1'].groupby([df['key1'],df['key2']]).mean().unstack()

key2       one       two
key1
a     0.080212 -0.609812
b     0.110865  1.911914

In [15]:
display(df.groupby(by = ['key1', 'key2'])['data1'].mean())
display(df.groupby(by = ['key1', 'key2'])['data1'].sum())

key1  key2
a     one     0.080212
      two    -0.609812
b     one     0.110865
      two     1.911914
Name: data1, dtype: float64

key1  key2
a     one     0.160423
      two    -0.609812
b     one     0.110865
      two     1.911914
Name: data1, dtype: float64