In [6]:
import numpy as np
import pandas as pd

se1 = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
se1

d    0
a    1
b    2
c    3
dtype: int64

In [7]:
se1.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [8]:
se1.sort_index(ascending=False)

d    0
c    3
b    2
a    1
dtype: int64

In [23]:
frame = pd.DataFrame(np.arange(8).reshape((2,4)),
             index=["three", "one"],
             columns=['d','a','b','c'])
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [10]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [11]:
frame.sort_index(ascending = False)

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [12]:
frame.sort_index(axis=1, ascending = False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [ ]:
frame.sort_index(axis=0, ascending = False).sort_index(axis=1, ascending = True)

In [24]:
frame.sort_index(axis=0, ascending = True)
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [25]:
frame.sort_index(axis=0, inplace= True, ascending = True)
frame

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [26]:
se2 = pd.Series([4, 13, 15, -6], index=['d', 'a', 'b', 'c'])
se2.sort_values()

c    -6
d     4
a    13
b    15
dtype: int64

In [27]:
se3 = pd.Series([4, np.nan, 15, -6], index=['d', 'a', 'b', 'c'])
se3.sort_values()

c    -6.0
d     4.0
b    15.0
a     NaN
dtype: float64

In [30]:
frame2 = pd.DataFrame(np.array([9, 6, -5, 4, 0, 1, 0, 1]).reshape((4, 2)),
             index=["three", "one", 'Two', 'Four'],
             columns=['d','a'])
frame2

       d  a
three  9  6
one   -5  4
Two    0  1
Four   0  1

In [34]:
frame2.sort_values(by = ['a'], ascending= False)

       d  a
three  9  6
one   -5  4
Two    0  1
Four   0  1

In [33]:
frame2.sort_values(by = ['d', 'a'], ascending= False)

       d  a
three  9  6
Two    0  1
Four   0  1
one   -5  4

In [36]:
frame3 = pd.DataFrame({'b':[4,7,-3,2],
              'a':[0,1,0,1]})
frame3

   b  a
0  4  0
1  7  1
2 -3  0
3  2  1

In [40]:
se3 = pd.Series([7, -5, 7, 4, 2, 0, 4])
se3.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [41]:
display(se3)
se3.rank(ascending=False,method='first')

0    7
1   -5
2    7
3    4
4    2
5    0
6    4
dtype: int64

0    1.0
1    7.0
2    2.0
3    3.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [46]:
display(se3.rank(ascending=False, method='max'))
se3.rank(ascending=False,method='min')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

0    1.0
1    7.0
2    1.0
3    3.0
4    5.0
5    6.0
6    3.0
dtype: float64

In [47]:
display(se3.rank(ascending=False, method='average'))
display(se3.rank(ascending=False, method='dense'))

0    1.5
1    7.0
2    1.5
3    3.5
4    5.0
5    6.0
6    3.5
dtype: float64

0    1.0
1    5.0
2    1.0
3    2.0
4    3.0
5    4.0
6    2.0
dtype: float64

In [44]:
frame = pd.DataFrame({'b':[4.3, 7, -3, 2],
                     'a':[0, 1, 0,1],
                     'c':[-2, 5, 8, -2.5]})
frame.sort_index(axis='columns').rank(axis='columns')

     a    b    c
0  2.0  3.0  1.0
1  1.0  3.0  2.0
2  2.0  1.0  3.0
3  2.0  3.0  1.0