In [1]:
import numpy as np
import pandas as pd

In [3]:
tips = pd.read_csv('csv_data/tips.csv')
tips

     total_bill   tip smoker   day    time  size
0         16.99  1.01     No   Sun  Dinner     2
1         10.34  1.66     No   Sun  Dinner     3
2         21.01  3.50     No   Sun  Dinner     3
3         23.68  3.31     No   Sun  Dinner     2
4         24.59  3.61     No   Sun  Dinner     4
..          ...   ...    ...   ...     ...   ...
239       29.03  5.92     No   Sat  Dinner     3
240       27.18  2.00    Yes   Sat  Dinner     2
241       22.67  2.00    Yes   Sat  Dinner     2
242       17.82  1.75     No   Sat  Dinner     2
243       18.78  3.00     No  Thur  Dinner     2

[244 rows x 6 columns]

In [5]:
tips.columns =  ['總票價', '小費', '吸煙者', '日期', '時間', '大小']
display(tips.info())
tips

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   總票價     244 non-null    float64
 1   小費      244 non-null    float64
 2   吸煙者     244 non-null    object
 3   日期      244 non-null    object
 4   時間      244 non-null    object
 5   大小      244 non-null    int64
dtypes: float64(2), int64(1), object(3)
memory usage: 11.6+ KB

None

       總票價    小費  吸煙者    日期      時間  大小
0    16.99  1.01   No   Sun  Dinner   2
1    10.34  1.66   No   Sun  Dinner   3
2    21.01  3.50   No   Sun  Dinner   3
3    23.68  3.31   No   Sun  Dinner   2
4    24.59  3.61   No   Sun  Dinner   4
..     ...   ...  ...   ...     ...  ..
239  29.03  5.92   No   Sat  Dinner   3
240  27.18  2.00  Yes   Sat  Dinner   2
241  22.67  2.00  Yes   Sat  Dinner   2
242  17.82  1.75   No   Sat  Dinner   2
243  18.78  3.00   No  Thur  Dinner   2

[244 rows x 6 columns]

In [11]:
def roundVal(v):
    return round(number=v, ndigits=2)
tips['Ratio'] = tips['小費'] / tips['總票價']
tips['Ratio'] = tips['Ratio'].map(roundVal)
tips

       總票價    小費  吸煙者    日期      時間  大小  Ratio
0    16.99  1.01   No   Sun  Dinner   2   0.06
1    10.34  1.66   No   Sun  Dinner   3   0.16
2    21.01  3.50   No   Sun  Dinner   3   0.17
3    23.68  3.31   No   Sun  Dinner   2   0.14
4    24.59  3.61   No   Sun  Dinner   4   0.15
..     ...   ...  ...   ...     ...  ..    ...
239  29.03  5.92   No   Sat  Dinner   3   0.20
240  27.18  2.00  Yes   Sat  Dinner   2   0.07
241  22.67  2.00  Yes   Sat  Dinner   2   0.09
242  17.82  1.75   No   Sat  Dinner   2   0.10
243  18.78  3.00   No  Thur  Dinner   2   0.16

[244 rows x 7 columns]

In [14]:
g01 = tips.groupby([tips['日期'], tips['時間'], tips['吸煙者']])

In [16]:
d01 = dict(list(g01))
d01

{('Fri',
  'Dinner',
  'No'):       總票價    小費 吸煙者   日期      時間  大小  Ratio
 91  22.49  3.50  No  Fri  Dinner   2   0.16
 94  22.75  3.25  No  Fri  Dinner   2   0.14
 99  12.46  1.50  No  Fri  Dinner   2   0.12,
 ('Fri',
  'Dinner',
  'Yes'):        總票價    小費  吸煙者   日期      時間  大小  Ratio
 90   28.97  3.00  Yes  Fri  Dinner   2   0.10
 92    5.75  1.00  Yes  Fri  Dinner   2   0.17
 93   16.32  4.30  Yes  Fri  Dinner   2   0.26
 95   40.17  4.73  Yes  Fri  Dinner   4   0.12
 96   27.28  4.00  Yes  Fri  Dinner   2   0.15
 97   12.03  1.50  Yes  Fri  Dinner   2   0.12
 98   21.01  3.00  Yes  Fri  Dinner   2   0.14
 100  11.35  2.50  Yes  Fri  Dinner   2   0.22
 101  15.38  3.00  Yes  Fri  Dinner   2   0.20,
 ('Fri',
  'Lunch',
  'No'):        總票價   小費 吸煙者   日期     時間  大小  Ratio
 223  15.98  3.0  No  Fri  Lunch   3   0.19,
 ('Fri',
  'Lunch',
  'Yes'):        總票價    小費  吸煙者   日期     時間  大小  Ratio
 220  12.16  2.20  Yes  Fri  Lunch   2   0.18
 221  13.42  3.48  Yes  Fri  Lunch   2   0.26
 222   8.58  1.92  Yes  Fri  Lunch   1   0.22
 224  13.42  1.58  Yes  Fri  Lunch   2   0.12
 225  16.27  2.50  Yes  Fri  Lunch   2   0.15
 226  10.09  2.00  Yes  Fri  Lunch   2   0.20,
 ('Sat',
  'Dinner',
  'No'):        總票價    小費 吸煙者   日期      時間  大小  Ratio
 19   20.65  3.35  No  Sat  Dinner   3   0.16
 20   17.92  4.08  No  Sat  Dinner   2   0.23
 21   20.29  2.75  No  Sat  Dinner   2   0.14
 22   15.77  2.23  No  Sat  Dinner   2   0.14
 23   39.42  7.58  No  Sat  Dinner   4   0.19
 24   19.82  3.18  No  Sat  Dinner   2   0.16
 25   17.81  2.34  No  Sat  Dinner   4   0.13
 26   13.37  2.00  No  Sat  Dinner   2   0.15
 27   12.69  2.00  No  Sat  Dinner   2   0.16
 28   21.70  4.30  No  Sat  Dinner   2   0.20
 29   19.65  3.00  No  Sat  Dinner   2   0.15
 30    9.55  1.45  No  Sat  Dinner   2   0.15
 31   18.35  2.50  No  Sat  Dinner   4   0.14
 32   15.06  3.00  No  Sat  Dinner   2   0.20
 33   20.69  2.45  No  Sat  Dinner   4   0.12
 34   17.78  3.27  No  Sat  Dinner   2   0.18
 35   24.06  3.60  No  Sat  Dinner   3   0.15
 36   16.31  2.00  No  Sat  Dinner   3   0.12
 37   16.93  3.07  No  Sat  Dinner   3   0.18
 38   18.69  2.31  No  Sat  Dinner   3   0.12
 39   31.27  5.00  No  Sat  Dinner   3   0.16
 40   16.04  2.24  No  Sat  Dinner   3   0.14
 57   26.41  1.50  No  Sat  Dinner   2   0.06
 59   48.27  6.73  No  Sat  Dinner   4   0.14
 64   17.59  2.64  No  Sat  Dinner   3   0.15
 65   20.08  3.15  No  Sat  Dinner   3   0.16
 66   16.45  2.47  No  Sat  Dinner   2   0.15
 68   20.23  2.01  No  Sat  Dinner   2   0.10
 70   12.02  1.97  No  Sat  Dinner   2   0.16
 71   17.07  3.00  No  Sat  Dinner   3   0.18
 74   14.73  2.20  No  Sat  Dinner   2   0.15
 75   10.51  1.25  No  Sat  Dinner   2   0.12
 104  20.92  4.08  No  Sat  Dinner   2   0.20
 108  18.24  3.76  No  Sat  Dinner   2   0.21
 110  14.00  3.00  No  Sat  Dinner   2   0.21
 111   7.25  1.00  No  Sat  Dinner   1   0.14
 212  48.33  9.00  No  Sat  Dinner   4   0.19
 227  20.45  3.00  No  Sat  Dinner   4   0.15
 228  13.28  2.72  No  Sat  Dinner   2   0.20
 232  11.61  3.39  No  Sat  Dinner   2   0.29
 233  10.77  1.47  No  Sat  Dinner   2   0.14
 235  10.07  1.25  No  Sat  Dinner   2   0.12
 238  35.83  4.67  No  Sat  Dinner   3   0.13
 239  29.03  5.92  No  Sat  Dinner   3   0.20
 242  17.82  1.75  No  Sat  Dinner   2   0.10,
 ('Sat',
  'Dinner',
  'Yes'):        總票價     小費  吸煙者   日期      時間  大小  Ratio
 56   38.01   3.00  Yes  Sat  Dinner   4   0.08
 58   11.24   1.76  Yes  Sat  Dinner   2   0.16
 60   20.29   3.21  Yes  Sat  Dinner   2   0.16
 61   13.81   2.00  Yes  Sat  Dinner   2   0.14
 62   11.02   1.98  Yes  Sat  Dinner   2   0.18
 63   18.29   3.76  Yes  Sat  Dinner   4   0.21
 67    3.07   1.00  Yes  Sat  Dinner   1   0.33
 69   15.01   2.09  Yes  Sat  Dinner   2   0.14
 72   26.86   3.14  Yes  Sat  Dinner   2   0.12
 73   25.28   5.00  Yes  Sat  Dinner   2   0.20
 76   17.92   3.08  Yes  Sat  Dinner   2   0.17
 102  44.30   2.50  Yes  Sat  Dinner   3   0.06
 103  22.42   3.48  Yes  Sat  Dinner   2   0.16
 105  15.36   1.64  Yes  Sat  Dinner   2   0.11
 106  20.49   4.06  Yes  Sat  Dinner   2   0.20
 107  25.21   4.29  Yes  Sat  Dinner   2   0.17
 109  14.31   4.00  Yes  Sat  Dinner   2   0.28
 168  10.59   1.61  Yes  Sat  Dinner   2   0.15
 169  10.63   2.00  Yes  Sat  Dinner   2   0.19
 170  50.81  10.00  Yes  Sat  Dinner   3   0.20
 171  15.81   3.16  Yes  Sat  Dinner   2   0.20
 206  26.59   3.41  Yes  Sat  Dinner   3   0.13
 207  38.73   3.00  Yes  Sat  Dinner   4   0.08
 208  24.27   2.03  Yes  Sat  Dinner   2   0.08
 209  12.76   2.23  Yes  Sat  Dinner   2   0.17
 210  30.06   2.00  Yes  Sat  Dinner   3   0.07
 211  25.89   5.16  Yes  Sat  Dinner   4   0.20
 213  13.27   2.50  Yes  Sat  Dinner   2   0.19
 214  28.17   6.50  Yes  Sat  Dinner   3   0.23
 215  12.90   1.10  Yes  Sat  Dinner   2   0.09
 216  28.15   3.00  Yes  Sat  Dinner   5   0.11
 217  11.59   1.50  Yes  Sat  Dinner   2   0.13
 218   7.74   1.44  Yes  Sat  Dinner   2   0.19
 219  30.14   3.09  Yes  Sat  Dinner   4   0.10
 229  22.12   2.88  Yes  Sat  Dinner   2   0.13
 230  24.01   2.00  Yes  Sat  Dinner   4   0.08
 231  15.69   3.00  Yes  Sat  Dinner   3   0.19
 234  15.53   3.00  Yes  Sat  Dinner   2   0.19
 236  12.60   1.00  Yes  Sat  Dinner   2   0.08
 237  32.83   1.17  Yes  Sat  Dinner   2   0.04
 240  27.18   2.00  Yes  Sat  Dinner   2   0.07
 241  22.67   2.00  Yes  Sat  Dinner   2   0.09,
 ('Sun',
  'Dinner',
  'No'):        總票價    小費 吸煙者   日期      時間  大小  Ratio
 0    16.99  1.01  No  Sun  Dinner   2   0.06
 1    10.34  1.66  No  Sun  Dinner   3   0.16
 2    21.01  3.50  No  Sun  Dinner   3   0.17
 3    23.68  3.31  No  Sun  Dinner   2   0.14
 4    24.59  3.61  No  Sun  Dinner   4   0.15
 5    25.29  4.71  No  Sun  Dinner   4   0.19
 6     8.77  2.00  No  Sun  Dinner   2   0.23
 7    26.88  3.12  No  Sun  Dinner   4   0.12
 8    15.04  1.96  No  Sun  Dinner   2   0.13
 9    14.78  3.23  No  Sun  Dinner   2   0.22
 10   10.27  1.71  No  Sun  Dinner   2   0.17
 11   35.26  5.00  No  Sun  Dinner   4   0.14
 12   15.42  1.57  No  Sun  Dinner   2   0.10
 13   18.43  3.00  No  Sun  Dinner   4   0.16
 14   14.83  3.02  No  Sun  Dinner   2   0.20
 15   21.58  3.92  No  Sun  Dinner   2   0.18
 16   10.33  1.67  No  Sun  Dinner   3   0.16
 17   16.29  3.71  No  Sun  Dinner   3   0.23
 18   16.97  3.50  No  Sun  Dinner   3   0.21
 41   17.46  2.54  No  Sun  Dinner   2   0.15
 42   13.94  3.06  No  Sun  Dinner   2   0.22
 43    9.68  1.32  No  Sun  Dinner   2   0.14
 44   30.40  5.60  No  Sun  Dinner   4   0.18
 45   18.29  3.00  No  Sun  Dinner   2   0.16
 46   22.23  5.00  No  Sun  Dinner   2   0.22
 47   32.40  6.00  No  Sun  Dinner   4   0.19
 48   28.55  2.05  No  Sun  Dinner   3   0.07
 49   18.04  3.00  No  Sun  Dinner   2   0.17
 50   12.54  2.50  No  Sun  Dinner   2   0.20
 51   10.29  2.60  No  Sun  Dinner   2   0.25
 52   34.81  5.20  No  Sun  Dinner   4   0.15
 53    9.94  1.56  No  Sun  Dinner   2   0.16
 54   25.56  4.34  No  Sun  Dinner   4   0.17
 55   19.49  3.51  No  Sun  Dinner   2   0.18
 112  38.07  4.00  No  Sun  Dinner   3   0.11
 113  23.95  2.55  No  Sun  Dinner   2   0.11
 114  25.71  4.00  No  Sun  Dinner   3   0.16
 115  17.31  3.50  No  Sun  Dinner   2   0.20
 116  29.93  5.07  No  Sun  Dinner   4   0.17
 150  14.07  2.50  No  Sun  Dinner   2   0.18
 151  13.13  2.00  No  Sun  Dinner   2   0.15
 152  17.26  2.74  No  Sun  Dinner   3   0.16
 153  24.55  2.00  No  Sun  Dinner   4   0.08
 154  19.77  2.00  No  Sun  Dinner   4   0.10
 155  29.85  5.14  No  Sun  Dinner   5   0.17
 156  48.17  5.00  No  Sun  Dinner   6   0.10
 157  25.00  3.75  No  Sun  Dinner   4   0.15
 158  13.39  2.61  No  Sun  Dinner   2   0.19
 159  16.49  2.00  No  Sun  Dinner   4   0.12
 160  21.50  3.50  No  Sun  Dinner   4   0.16
 161  12.66  2.50  No  Sun  Dinner   2   0.20
 162  16.21  2.00  No  Sun  Dinner   3   0.12
 163  13.81  2.00  No  Sun  Dinner   2   0.14
 165  24.52  3.48  No  Sun  Dinner   3   0.14
 166  20.76  2.24  No  Sun  Dinner   2   0.11
 167  31.71  4.50  No  Sun  Dinner   4   0.14
 185  20.69  5.00  No  Sun  Dinner   5   0.24,
 ('Sun',
  'Dinner',
  'Yes'):        總票價    小費  吸煙者   日期      時間  大小  Ratio
 164  17.51  3.00  Yes  Sun  Dinner   2   0.17
 172   7.25  5.15  Yes  Sun  Dinner   2   0.71
 173  31.85  3.18  Yes  Sun  Dinner   2   0.10
 174  16.82  4.00  Yes  Sun  Dinner   2   0.24
 175  32.90  3.11  Yes  Sun  Dinner   2   0.09
 176  17.89  2.00  Yes  Sun  Dinner   2   0.11
 177  14.48  2.00  Yes  Sun  Dinner   2   0.14
 178   9.60  4.00  Yes  Sun  Dinner   2   0.42
 179  34.63  3.55  Yes  Sun  Dinner   2   0.10
 180  34.65  3.68  Yes  Sun  Dinner   4   0.11
 181  23.33  5.65  Yes  Sun  Dinner   2   0.24
 182  45.35  3.50  Yes  Sun  Dinner   3   0.08
 183  23.17  6.50  Yes  Sun  Dinner   4   0.28
 184  40.55  3.00  Yes  Sun  Dinner   2   0.07
 186  20.90  3.50  Yes  Sun  Dinner   3   0.17
 187  30.46  2.00  Yes  Sun  Dinner   5   0.07
 188  18.15  3.50  Yes  Sun  Dinner   3   0.19
 189  23.10  4.00  Yes  Sun  Dinner   3   0.17
 190  15.69  1.50  Yes  Sun  Dinner   2   0.10,
 ('Thur',
  'Dinner',
  'No'):        總票價   小費 吸煙者    日期      時間  大小  Ratio
 243  18.78  3.0  No  Thur  Dinner   2   0.16,
 ('Thur',
  'Lunch',
  'No'):        總票價    小費 吸煙者    日期     時間  大小  Ratio
 77   27.20  4.00  No  Thur  Lunch   4   0.15
 78   22.76  3.00  No  Thur  Lunch   2   0.13
 79   17.29  2.71  No  Thur  Lunch   2   0.16
 81   16.66  3.40  No  Thur  Lunch   2   0.20
 82   10.07  1.83  No  Thur  Lunch   1   0.18
 84   15.98  2.03  No  Thur  Lunch   2   0.13
 85   34.83  5.17  No  Thur  Lunch   4   0.15
 86   13.03  2.00  No  Thur  Lunch   2   0.15
 87   18.28  4.00  No  Thur  Lunch   2   0.22
 88   24.71  5.85  No  Thur  Lunch   2   0.24
 89   21.16  3.00  No  Thur  Lunch   2   0.14
 117  10.65  1.50  No  Thur  Lunch   2   0.14
 118  12.43  1.80  No  Thur  Lunch   2   0.14
 119  24.08  2.92  No  Thur  Lunch   4   0.12
 120  11.69  2.31  No  Thur  Lunch   2   0.20
 121  13.42  1.68  No  Thur  Lunch   2   0.13
 122  14.26  2.50  No  Thur  Lunch   2   0.18
 123  15.95  2.00  No  Thur  Lunch   2   0.13
 124  12.48  2.52  No  Thur  Lunch   2   0.20
 125  29.80  4.20  No  Thur  Lunch   6   0.14
 126   8.52  1.48  No  Thur  Lunch   2   0.17
 127  14.52  2.00  No  Thur  Lunch   2   0.14
 128  11.38  2.00  No  Thur  Lunch   2   0.18
 129  22.82  2.18  No  Thur  Lunch   3   0.10
 130  19.08  1.50  No  Thur  Lunch   2   0.08
 131  20.27  2.83  No  Thur  Lunch   2   0.14
 132  11.17  1.50  No  Thur  Lunch   2   0.13
 133  12.26  2.00  No  Thur  Lunch   2   0.16
 134  18.26  3.25  No  Thur  Lunch   2   0.18
 135   8.51  1.25  No  Thur  Lunch   2   0.15
 136  10.33  2.00  No  Thur  Lunch   2   0.19
 137  14.15  2.00  No  Thur  Lunch   2   0.14
 139  13.16  2.75  No  Thur  Lunch   2   0.21
 140  17.47  3.50  No  Thur  Lunch   2   0.20
 141  34.30  6.70  No  Thur  Lunch   6   0.20
 142  41.19  5.00  No  Thur  Lunch   5   0.12
 143  27.05  5.00  No  Thur  Lunch   6   0.18
 144  16.43  2.30  No  Thur  Lunch   2   0.14
 145   8.35  1.50  No  Thur  Lunch   2   0.18
 146  18.64  1.36  No  Thur  Lunch   3   0.07
 147  11.87  1.63  No  Thur  Lunch   2   0.14
 148   9.78  1.73  No  Thur  Lunch   2   0.18
 149   7.51  2.00  No  Thur  Lunch   2   0.27
 195   7.56  1.44  No  Thur  Lunch   2   0.19,
 ('Thur',
  'Lunch',
  'Yes'):        總票價    小費  吸煙者    日期     時間  大小  Ratio
 80   19.44  3.00  Yes  Thur  Lunch   2   0.15
 83   32.68  5.00  Yes  Thur  Lunch   2   0.15
 138  16.00  2.00  Yes  Thur  Lunch   2   0.12
 191  19.81  4.19  Yes  Thur  Lunch   2   0.21
 192  28.44  2.56  Yes  Thur  Lunch   2   0.09
 193  15.48  2.02  Yes  Thur  Lunch   2   0.13
 194  16.58  4.00  Yes  Thur  Lunch   2   0.24
 196  10.34  2.00  Yes  Thur  Lunch   2   0.19
 197  43.11  5.00  Yes  Thur  Lunch   4   0.12
 198  13.00  2.00  Yes  Thur  Lunch   2   0.15
 199  13.51  2.00  Yes  Thur  Lunch   2   0.15
 200  18.71  4.00  Yes  Thur  Lunch   3   0.21
 201  12.74  2.01  Yes  Thur  Lunch   2   0.16
 202  13.00  2.00  Yes  Thur  Lunch   2   0.15
 203  16.40  2.50  Yes  Thur  Lunch   2   0.15
 204  20.53  4.00  Yes  Thur  Lunch   4   0.19
 205  16.47  3.23  Yes  Thur  Lunch   3   0.20}

In [15]:
g01['總票價'].sum()

日期    時間      吸煙者
Fri   Dinner  No       57.70
              Yes     178.26
      Lunch   No       15.98
              Yes      73.94
Sat   Dinner  No      884.78
              Yes     893.62
Sun   Dinner  No     1168.88
              Yes     458.28
Thur  Dinner  No       18.78
      Lunch   No      751.31
              Yes     326.24
Name: 總票價, dtype: float64

In [21]:
g02 = tips.groupby([tips['日期'], tips['吸煙者']])

In [22]:
g03 = g02['小費']
display(g03.agg('mean'))
g03.agg('mean').unstack()

日期    吸煙者
Fri   No     2.812500
      Yes    2.714000
Sat   No     3.102889
      Yes    2.875476
Sun   No     3.167895
      Yes    3.516842
Thur  No     2.673778
      Yes    3.030000
Name: 小費, dtype: float64

吸煙者         No       Yes
日期
Fri   2.812500  2.714000
Sat   3.102889  2.875476
Sun   3.167895  3.516842
Thur  2.673778  3.030000

In [23]:
g03.agg(func=[('平均', 'mean'), ('標準差','std')])

                平均       標準差
日期   吸煙者
Fri  No   2.812500  0.898494
     Yes  2.714000  1.077668
Sat  No   3.102889  1.642088
     Yes  2.875476  1.630580
Sun  No   3.167895  1.224785
     Yes  3.516842  1.261151
Thur No   2.673778  1.282964
     Yes  3.030000  1.113491