In [1]:
import numpy as np
import pandas as pd

In [2]:
tips = pd.read_csv('csv_data/tips.csv')

In [3]:
tips.columns =  ['總票價', '小費', '吸煙者', '日期', '時間', '大小']

In [4]:
def roundVal(v):
    return round(number=v, ndigits=2)
tips['Ratio'] = tips['小費'] / tips['總票價']
tips['Ratio'] = tips['Ratio'].map(roundVal)
tips

       總票價    小費  吸煙者    日期      時間  大小  Ratio
0    16.99  1.01   No   Sun  Dinner   2   0.06
1    10.34  1.66   No   Sun  Dinner   3   0.16
2    21.01  3.50   No   Sun  Dinner   3   0.17
3    23.68  3.31   No   Sun  Dinner   2   0.14
4    24.59  3.61   No   Sun  Dinner   4   0.15
..     ...   ...  ...   ...     ...  ..    ...
239  29.03  5.92   No   Sat  Dinner   3   0.20
240  27.18  2.00  Yes   Sat  Dinner   2   0.07
241  22.67  2.00  Yes   Sat  Dinner   2   0.09
242  17.82  1.75   No   Sat  Dinner   2   0.10
243  18.78  3.00   No  Thur  Dinner   2   0.16

[244 rows x 7 columns]

In [5]:
tips.sort_values(by='Ratio')[-6:]

       總票價    小費  吸煙者   日期      時間  大小  Ratio
109  14.31  4.00  Yes  Sat  Dinner   2   0.28
183  23.17  6.50  Yes  Sun  Dinner   4   0.28
232  11.61  3.39   No  Sat  Dinner   2   0.29
67    3.07  1.00  Yes  Sat  Dinner   1   0.33
178   9.60  4.00  Yes  Sun  Dinner   2   0.42
172   7.25  5.15  Yes  Sun  Dinner   2   0.71

In [6]:
def top(df, n = 5, column = 'Ratio'):
    return df.sort_values(by=column)[-n :]

In [7]:
top(tips, n=6, column='Ratio')

       總票價    小費  吸煙者   日期      時間  大小  Ratio
109  14.31  4.00  Yes  Sat  Dinner   2   0.28
183  23.17  6.50  Yes  Sun  Dinner   4   0.28
232  11.61  3.39   No  Sat  Dinner   2   0.29
67    3.07  1.00  Yes  Sat  Dinner   1   0.33
178   9.60  4.00  Yes  Sun  Dinner   2   0.42
172   7.25  5.15  Yes  Sun  Dinner   2   0.71

In [10]:
tips.groupby(by=['吸煙者']).apply(top, n = 3)

           總票價    小費  吸煙者    日期      時間  大小  Ratio
吸煙者
No  51   10.29  2.60   No   Sun  Dinner   2   0.25
    149   7.51  2.00   No  Thur   Lunch   2   0.27
    232  11.61  3.39   No   Sat  Dinner   2   0.29
Yes 67    3.07  1.00  Yes   Sat  Dinner   1   0.33
    178   9.60  4.00  Yes   Sun  Dinner   2   0.42
    172   7.25  5.15  Yes   Sun  Dinner   2   0.71